.button {
  --bg-color-btn: var(--bg-color, var(--rlu-btn-bg-color));
  --color-btn: var(--color, var(--rlu-btn-color));
  --font-btn: var(--font, var(--rlu-btn-font));

  padding: 1rem 2.5rem;
  cursor: pointer;

  box-shadow: 0px 8px 16px rgba(0, 11, 36, 0.1);
  border-radius: 4px;
  background: transparent;

  font-family: var(--font-btn);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  border: none;
}

.filled {
  background: var(--bg-color-btn);
  color: var(--color-btn);
  transition: all 0.1s ease-in-out;

  &:hover {
    filter: brightness(1.15);
    transition: all 0.1s ease-in-out;
  }

  &:active {
    box-shadow: 0px 4px 8px rgba(0, 11, 36, 0.1);
    filter: brightness(1.25);
  }
}

.outlined {
  color: var(--bg-color-btn);
  box-shadow: inset 0 0 0 2px var(--bg-color-btn), 0px 8px 16px rgba(0, 11, 36, 0.1);

  &:hover {
    filter: brightness(1.15);
    transition: all 0.1s ease-in-out;
  }

  &:active {
    box-shadow: inset 0 0 0 2px var(--bg-color-btn), 0px 4px 8px rgba(0, 11, 36, 0.1);
    filter: brightness(1.25);
  }
}

