// Ref - https://codepen.io/mburnette/pen/LxNxNg

.container {
  --width-i: var(--width, 60px);
  --color-active-i: var(--color-active, #bada55);
  --color-inactive-i: var(--color-inactive, #CDCCD9);

  font-size: 0.8rem;
  font-style: italic;
  line-height: calc(var(--width-i) / 2);
  user-select: none;

  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    padding-left: calc(var(--width-i) + 10px);
    position: relative;
    display: inline-block;
    font-weight: 300;
  }

  label::before {
    content: '';
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--width-i);
    height: calc(var(--width-i) / 2);
    background: var(--color-inactive-i);
    display: block;
    border-radius: calc(var(--width-i) / 2);
  }

  label:after {
    content: '';
    position: absolute;
    top: calc((var(--width-i) * 5) / 100);
    left: calc((var(--width-i) * 5) / 100);
    width: calc((var(--width-i) * 40) / 100);
    height: calc((var(--width-i) * 40) / 100);
    background: #fff;
    border-radius: calc((var(--width-i) * 40) / 100);
    transition: 0.3s;
  }

  input:checked + label:before {
    background: var(--color-active-i);
  }

  input:checked + label:after {
    left: calc(var(--width-i) - (var(--width-i) * 5) / 100);
    transform: translateX(-100%);
  }

  label:active:after {
    width: calc((var(--width-i) * 65) / 100);
  }
}
