:root {
  --rlu-primary: #5547f0;
  --rlu-white: #ffffff;
  --rlu-footer-bg: #1A1834;

  --rlu-font-primary: 'Inter', sans-serif;
  --rlu-font-secondary: 'Poppins', sans-serif;

  --rlu-width-nav: 1080px;
  --rlu-width-container: 890px;
  --rlu-space-vertical: 10rem;
}
