:root {
  --honey: #f2ad00;
  --yellow: #ffd977;
  --blue: #5547f0;
  --pink: #ffbab6;
  --red: #ff8f88;
  --nyan: #e5f9e0;
  --apple: #a3f7b5;
  --green: #40c9a2;
  --army: #2f9c95;
  --brown: #664147;
  --white: #ffffff;
  --black: #1A1834;
  --shadow: rgb(0, 11, 36, 0.02);

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Poppins', sans-serif;

  --width-nav: 1080px;
  --width-container: 890px;

  --space-vertical: 10rem;

  font-size: 16px;
}
